/* Change header text */
h2 {
  font-family: Times;
  font-size: 38px;
  color: #1c3b61;
  font-weight: bold;
}

/* Text inside 'About this Shiny app' tab */
h3 {
  font-family: Times;
  font-size: 28px;
  color: #1c3b61;
  font-weight: bold;
}

/* Change footer text */
h5 {
  font-family: Arial;
  color: #1c3b61;
  font-weight: bold;
}
h6 {
  font-family: Arial;
  color: #1c3b61;
}


p {
  width: 780px;
}

/* Video Title */
#video_info.shiny-html-output {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #1c3b61;
}

/* Action Buttons */

/* Get Started Button */
#get_started.btn {
  font-family: Arial;
  font-weight: bold;
  color: #F4F4F4;
  background-color: #0A799A;
  border-radius: 12px;
}
/* Demo App Button */
#demo.btn {
  color: #F4F4F4;
  background-color: #FFB500;
  font-family: Times;
}
/* Help Button */
#help.btn {
  color: #F4F4F4;
  background-color: #AA4AC4;
  font-family: Times;
}
/* Code Button */
#github.btn {
  color: #F4F4F4;
  background-color: #0A799A;
  font-family: Times;
}
/* Generate Button */
#generate.btn {
  font-family: Arial;
  font-weight: bold;
  color: #F4F4F4;
  background-color: #0A799A;
  border-radius: 12px;
}

/* Download Buttons */
#download_btn.btn {
  font-family: Arial;
  font-weight: bold;
  color: #F4F4F4;
  background-color: #FFB500;
  border-radius: 12px;
}

#download_subtitle_btn.btn {
  font-family: Arial;
  font-weight: bold;
  color: #F4F4F4;
  background-color: #AA4AC4;
  border-radius: 12px;
}

/* Email button */
#send_email.btn {
  font-family: Arial;
  font-weight: bold;
  color: #F4F4F4;
  background-color: #0A799A;
  border-radius: 12px;
}

/* selectInput Label */
.control-label {
  font-family: Arial;
  color: #1c3b61;
}